name: "update readme"

on:
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0
      - name: Update README
        id: TIL
        uses: yongjulejule/TIL-github-action@testv1
